#navBar{
    margin: none;
    width: 100%;
    height: auto;
   
}
#headLine{
    border: 1px solid rgb(27, 155, 224);
    background-color: rgb(11, 115, 200);
    
}
#headLine >p{
   color: aliceblue;
    text-align: center;
    margin: 8px;
 
}
a{
  cursor: pointer;
  text-decoration: none;
}
#mainNav{
    width: 95%;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mainNav>img{
 width: 8%;
}
#mainNav>div{
    width: 50%;
    height: 30px;
    display: flex;
 
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}
.search-box {
    display: flex;
    max-width: 300px;
    margin: 20px;
  }

  /* Style for the input field */
  #search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    height: 22px;
  }

  /* Style for the search button */
  .search-button {
    background-color: #ffffff;
    border: 1px solid #acb3bd;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 43px;
  }

  /* Hover effect for the search button */
  .search-button:hover {
    background-color: #5bb3fc;
  }




  .nav-item {
    margin: 0 10px;
    cursor: pointer;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }